
* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

a{
    text-decoration: none;
    color:#fff;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image **/   
img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #F4EBEC
}

h2{
    text-align: justify;
    color: #F4EBEC;
}

p {
    text-align: justify;
    color: #F9D8D2;
}

/** Overflow (for tables) **/
.overflow {
    overflow-x:auto;
}

.nav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #91BAD6;
    overflow-x: hidden;
    padding-top: 60px;
    color: #1E3F66;
}

.nav li{
    letter-spacing: .1em;
    list-style: none;
    padding: 10px;
    float:right;
    text-decoration: none;
    
  }

.nav a:hover{
    color: #d3d3d3;
}

.navText {
    text-decoration: none;
    color:#fff;
}

.header {
    border: 1px solid black;
    width: 1250px;
    height: 100px;
    text-align: center;
    background-color:#91BAD6;
    box-shadow: 10px 5px 5px #F4EBEC;
}

.background-color-blue {
    background-color: #1E3F66;
}

.background-map {
    background: url(../myWebsite/Images/map-poster.jpg);
    background-size: cover;
}
